{% extends base %}
{% block main %}
      <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
    <div class="text-center" id="TownSendShop">
      <h2 class="text-center">Znajdź sklepy w mieście:</h2>
      <form id="TownSendForm" method="get" action="{% url 'town' %}" role="form">
          <label for="id_town">Miasto:</label>
          <input id="id_town" name="town" class="form-control" placeholder="Wpisz nazwę miasta."><br>
          <input value="Wyślij" type="submit" class="btn btn-primary" id="sender">
      </form>
        <div id="geo"></div>
    </div>
{% endblock %}
{% block js %}
    <script>
    var url="{% url 'autocomplete' %}";
    console.log(url);
    $('#id_town').autocomplete({
        source: function ( request, response ) {
            $.ajax({
                type: 'GET',
                url: url + "?town=" + $('#id_town').val(),
                dataType: "json",
                success: function(data){
                    response( $.map( data, function( value, key ) {
                        console.log(key);
                        return {
                            label: value.town,
                            value: value.town,
                        }
                    }));
                }
            });
        },
        minLength: 2,
        delay: 100
    });
    function getTown() {
            var frm = $("#TownSendForm");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "html",
                success: function (data) {
                    $('#content').html(data);
                }
            });
        }

    $("form").submit(function(event){
        getTown();
        event.preventDefault();
    });
</script>
{% endblock %}