{% extends base %}
{% block main %}
    <style>
.custom-file-input ~ .custom-file-label::after {
    content: "znajdź plik";
}
    </style>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="text-center" id="GetPoint">
        <link href="/static/mapwidgets/css/map_widgets.css" type="text/css" media="all" rel="stylesheet">
        <script type="text/javascript" src="/static/mapwidgets/js/jquery_class.js"></script>
        <script type="text/javascript" src="/static/mapwidgets/js/django_mw_base.js"></script>
        <script type="text/javascript" src="/static/mapwidgets/js/mw_google_point_field.js"></script>
        <h1>Znajdź sklep</h1>
        <hr width="80%">
          <h2 class="text-center"></h2>
        <h1>Wybierz odległość</h1>
        <div class="btn-group btn-group-sm margin" role="group">
        <button id="100" class="btn btn-primary">100m</button>
        <button id="500" class="btn btn-primary">500m</button>
        <button id="1000" class="btn btn-primary">1km</button>
        <button id="2500" class="btn btn-primary">2,5km</button>
        <button id="5000" class="btn btn-primary">5km</button>
        <button id="1000" class="btn btn-primary">10km</button>
        <button id="25000" class="btn btn-primary">25km</button>
        <button id="50000" class="btn btn-primary">50km</button>
        <button id="100000" class="btn btn-primary">100km</button>
        </div>
        <form id="GetPointForm" method="get" action="{% url 'shops' %}" role="form">
          <input id="id_distance" name="distance" type="hidden">
            <label>
                <div class="btn btn-primary">
                    <input type="checkbox" id="id_opened" name="opened">
                    Otwarty w tej chwili
                </div>
            </label>
            <div class="mw-wrap text-white" id="geo_point-mw-wrap">
                {% block container %}
                    <div class="mw-header">
                        {% block header %}
                            <div class="mw-coordinates-wrap">
                                <a  class="mw-btn mw-btn-primary mw-btn-coordinates">Koordynaty
                                    <i class="icon-down-dir" ></i></a>
                                <div class="mw-coordinates-overlay hide">
                                    <label for="geo_point-mw-overlay-latitude">
                                        Y
                                        <input type="text" id="geo_point-mw-overlay-latitude"
                                               class="form-control mw-overlay-input mw-overlay-latitude"
                                               placeholder="przykład: 41.015137'"/>
                                    </label>
                                    <label for="geo_point-mw-overlay-longitude">
                                        X
                                        <input type="text" id="geo_point-mw-overlay-longitude"
                                               class="form-control mw-overlay-input mw-overlay-longitude"
                                               placeholder="przykład: 28.979530"/>
                                    </label>
                                    <a class="mw-btn mw-btn-success mw-btn-coordinates-done pull-right">"Done"</a>
                                </div>
                            </div>

                            <a class="mw-btn mw-btn-info mw-btn-my-location" >Znajdź mnie </a>
                            <a class="mw-btn mw-btn-warning mw-btn-add-marker" ><i class="icon-location"></i>
                                Oznacz miejce</a>
                            <div class="mw-adress-input-wrap pull-right">
                                <input type="text" class="form-control pull-right"
                                       id="geo_point-mw-google-address-input"
                                       placeholder="Wpisz i wybierz adres"/>
                            </div>
                        {% endblock header %}
                    </div>

                    <div class="mw-map-wrapper">
                        <div class="mw-loader-overlay hide" >
                            <div class="mw-loader"></div>
                        </div>
                        <div id="geo_point-map-elem" class="mw-map"></div>
                        <div style="display: none" class="hide">
                            <textarea id="id_geo_point" name="geo_point">{{ serialized }}</textarea>
                            {% block extra_input %}
                            {% endblock extra_input %}
                        </div>
                    </div>
                    <div class="animated-loader"></div>
                {% endblock container %}
            </div>
            <input class="btn btn-primary" type="submit" value="Wyślij!">
        </form>
    </div>
    {% endblock %}
    {% block js %}
    <script type="application/javascript">
        function init(){
            var mapOptions = JSON.parse("{\u0022mapCenterLocationName\u0022: \u0022Polska\u0022, " +
                "\u0022mapCenterLocation\u0022: [40.2044358, \u002D101.9953523], \u0022zoom\u0022: 18, " +
                "\u0022GooglePlaceAutocompleteOptions\u0022: {\u0022componentRestrictions\u0022: " +
                "{\u0022country\u0022: \u0022pl\u0022}}, \u0022markerFitZoom\u0022: 18, \u0022" +
                "language\u0022: \u0022pl\u0022}");
            var field_value = JSON.parse("{}");

            var wrapElemSelector = "#geo_point-mw-wrap";
            var mapElemID = "geo_point-map-elem";
            var googleAutoInputID = "geo_point-mw-google-address-input";
            var locationInputID = "#id_geo_point";

            var mapWidgetOptions = {
                locationInput: $(locationInputID),
                wrapElemSelector: wrapElemSelector,
                locationFieldValue: field_value,
                mapElement: document.getElementById(mapElemID),
                mapCenterLocationName: mapOptions.mapCenterLocationName,
                mapCenterLocation: mapOptions.mapCenterLocation,
                coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
                coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
                coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
                coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
                myLocationBtn: $(".mw-btn-my-location", wrapElemSelector),
                addressAutoCompleteInput: document.getElementById(googleAutoInputID),
                deleteBtn: $(".mw-btn-delete", wrapElemSelector),
                addMarkerBtn: $(".mw-btn-add-marker", wrapElemSelector),
                loaderOverlayElem: $(".mw-loader-overlay", wrapElemSelector),
                zoom: mapOptions.zoom,
                markerFitZoom: mapOptions.markerFitZoom,
                GooglePlaceAutocompleteOptions: mapOptions.GooglePlaceAutocompleteOptions,
                markerCreateTriggerNameSpace: "google_point_map_widget:marker_create",
                markerChangeTriggerNameSpace: "google_point_map_widget:marker_change",
                markerDeleteTriggerNameSpace: "google_point_map_widget:marker_delete",
                placeChangedTriggerNameSpace: "google_point_map_widget:place_changed"
            };
            new DjangoGooglePointFieldWidget(mapWidgetOptions);
        }
        $(document).ready(function () {
           init();
        });
        $('#MapAddForm').submit(function(ev){
            var frm = $(this);
            console.log(frm);
            var data = new FormData($(this)[0]);
            ev.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "html",
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });
  $('.custom-file-input').on('change',function(){
  var fileName = $(this).val().split("\\").pop();
  $(this).next('.custom-file-label').html(fileName);
});
    </script>
    </form>
    <script>
        $('.btn-group').on('click', '.btn', function() {
            var value=$(this).attr("id");
            $("#id_distance").val(value);
        });
</script>
{% endblock %}