{% extends base %}
{% block main %}
      <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
    <div class="text-center" id="LocationSendShop">
      <h2 class="text-center"></h2>
        <h1>Wybierz odległość</h1>
        <div class="btn-group btn-group-sm margin" role="group">
        <button id="500" class="btn btn-primary">500m</button>
        <button id="1000" class="btn btn-primary">1km</button>
        <button id="5000" class="btn btn-primary">5km</button>
        <button id="20000" class="btn btn-primary">20km</button>
        <button id="50000" class="btn btn-primary">50km</button>
        <button id="100000" class="btn btn-primary">100km</button>
        </div>
        <form id="LocationSendForm" method="get" action="{% url 'nearby' %}" role="form">
        <input id="id_location" name="location" type="hidden">
          <input id="id_distance" name="distance" type="hidden">
            <label>
                <div class="btn btn-primary">
                    <input type="checkbox" id="id_opened" name="opened">
                    Otwarty w tej chwili
                </div>
            </label>
      </form>
        <button id="find_me" class="btn btn-primary btn-lg btn-block margin" onclick="getLocation()">
            Znajdź sklepy obok mnie<span class="glyphicon glyphicon-screenshot"></span>
        </button>
        <div id="geo"></div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $("#find_me").hide();
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendPosition, errorCallBack);
            }
        }

        function sendPosition(position) {
            x = position.coords.longitude;
            y = position.coords.latitude;
            lnglat = "POINT("+x+" "+y+")";
            $("#id_location").val(lnglat);
            var frm = $("#LocationSendForm");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "html",
                success: function (data) {
                    $('#content').html(data);
                }
            });
        }
        function errorCallBack(error) {
            console.log("jak narazie wszystko gra");
            (error.code == error.PERMISSION_DENIED)
            {
                console.log("sanity test");
                $("#geo").html("<h1>Nie jesteśmy w stanie określić twojego położenia</h1>");
            }
        }
        $('.btn-group').on('click', '.btn', function() {
            var value=$(this).attr("id");
            $("#id_distance").val(value);
            $(this).addClass('active').siblings().removeClass('active');
            $('#find_me').show();
        });
</script>
{% endblock %}