{% extends base %}
{% block main %}
    <style>
#map-container{
    position: relative;
};
#map{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
    </style>
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
{% if object_list %}
    <h1 class="text-center">Sklepy w Miejscowości: {{ town }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="text-center" id="TownShops">
                {% for object in object_list %}
                    <div class="card">
                    <div class="card-block">{{ object.name }}</div>
                        {% if object.photo %}
                        <div class="card-block"><img src="media/{{ object.photo }}"</div>
                        {% endif %}
                    <div class="card-block">
                        Godziny otwarcia<br><hr>{{ object.opening_hour }} - {{ object.closing_hour }}
                    </div>
                    <div id="object-{{ forloop.counter }}" class="card-block">
                        <p>{{ object.town.town }}, {{ object.address }}</p>
                        <button id="button-{{ forloop.counter }}" class="btn btn-primary">Pokaż na mapie
                            <input type="hidden" id="point-{{ forloop.counter }}" value="{{ object.geo_point }}">
                            <input type="hidden" id="name-{{ forloop.counter }}" value="{{ object.name }}">
                            <input type="hidden" id="town-{{ forloop.counter }}" value="{{ object.town.town }}">
                            <input type="hidden" id="address-{{ forloop.counter }}" value="{{ object.address }}">
                            <input type="hidden" id="hours-{{ forloop.counter }}"
                                   value="{{ object.opening_hour }} - {{ object.closing_hour }}">
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    </div>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>
            </div>
        <div class="col-sm-8" id="map-container"><div id="map"></div></div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block js %}
        <script>
      var map;
      var marker;
      function parsePoint(point) {
          point = point + "";
          list = point.split("(");
          list = list[1].split(" ");
          x = parseFloat(list[0]);
          y = parseFloat(list[1]);
          return [x, y];
      }

      function initMap(x, y) {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: y, lng: x},
          zoom: 17
        });
      }

      if(("#button-1").length)
      {
          coordinates=$("#button-1").children().eq(0);
          shop_name = $("#button-1").children().eq(1);
          town=$("#button-1").children().eq(2);
          address=$("#button-1").children().eq(3);
          hours=$("#button-1").children().eq(4);
          list = parsePoint(coordinates.val());
          initMap(list[0], list[1]);
          content = makeString(shop_name, town, address, hours);
          createMarker(list[0], list[1], content);
      };

      $("button").click( function(){
          coordinates=$(this).children().eq(0);
          shop_name = $(this).children().eq(1);
          town=$(this).children().eq(2);
          address=$(this).children().eq(3);
          hours=$(this).children().eq(4);
          showOnMap(coordinates, shop_name, town, address, hours);
          $('html, body').animate({
              scrollTop: ($('#map').offset().top)
          },500);

      });

      function createMarker(x, y, content){
          if (typeof marker !== 'undefined') {
              marker.setMap(null);
              delete marker;
          }
          marker = new google.maps.Marker({
              map: map,
              draggable: false,
              animation: google.maps.Animation.DROP,
              position: {lat: y, lng: x}
          });
          infowindow = new google.maps.InfoWindow({
              content: content
          });
          infowindow.open(map, marker);
          marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

      }

      function makeString(name, town, address, hours) {
          content_string = "<div class=\"text-center\"<p>Nazwa sklepu: <strong>"+
              name.val()+"<hr></strong><br>Adres: <strong>"+address.val()+" "+town.val()+
              "</strong><hr><br> godziny otwarcia: <strong>"+hours.val()+"</strong>";
          return content_string;
      }

      function showOnMap(point, name, town, address, hours){
          content_string = makeString(name, town, address, hours);
          list = parsePoint(point.val());
          map.panTo({lat:list[1], lng:list[0]});
          createMarker(list[0], list[1], content_string);
      }
    </script>
{% endblock %}