{% extends base %}
{% block main %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
    <h1 class="text-center">Wybierz jak chcesz dodać sklep</h1>
    <div class="text-center">
    <a id="lokacja" href="{% url "location_based" %}"><button class="btn btn-primary btn-lg">
        bazując na moim aktualnym położeniu</button></a>
    <a id="mapa" href="{% url 'map_based' %}"><button class="btn btn-primary btn-lg">
        korzystając z mapy google</button></a>
    </div>
    <div id="box">{% block box %}{% endblock %}</div>
    <div id="geo" class="text-center"></div>
{% endblock %}
{% block js %}
    <script>
    $("#lokacja").click(function(event){
        event.preventDefault();
        $("#box").load("{% url 'location_based' %}");
    });
    $("#mapa").click(function(event){
        event.preventDefault();
        $("#box").load("{% url 'map_based' %}");
    });
    </script>
{% endblock %}