{% extends base %}
{% block main %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
        {% if not request.is_ajax %}
        <h1 class="text-center">Wybierz jak chcesz dodać sklep</h1>
    <div class="text-center">
    <a id="lokacja" href="{% url "location_based" %}"><button class="btn btn-primary btn-lg">
        bazując na moim aktualnym położeniu</button></a>
    <a id="mapa" href="{% url 'map_based' %}"><button class="btn btn-primary btn-lg">
        korzystając z mapy google</button></a>
    </div>
    {% endif %}
    <div class="text-center" id="LocationAddShop">
    <hr width="80%">
            <div class ='AddShop'>
      <h2 class="text-center">Uzupełnij informacje o sklepie</h2>
      <form id="ShopAddForm" method="post" action="{% url 'location_based' %}" role="form">
        {% csrf_token %}
        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
          <label for="name">Nazwa sklepu</label>
          <input type="text" class="form-control" id="id_name" name="name">
          {% for error in form.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group{% if form.opening_hour.errors %} has-error{% endif %}">
          <label for="opening_hour">Godzina otwarcia sklepu</label>
          <input class="form-control" id="id_opening_hour" name="opening_hour">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
              <div class="form-group{% if form.closing_hour.errors %} has-error{% endif %}">
          <label for="opening_hour">Godzina zamknięcia sklepu</label>
          <input class="form-control" id="id_closing_hour" name="closing_hour">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group text-center">
          <input value="Dodaj sklep" type="submit" class="btn btn-primary btn-lg">
        </div>
      </form>
    </div>
{% endblock %}
{% block js %}
    <script>
    $(".AddShop").hide();
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendPosition, errorCallBack);
            }
        }

        function sendPosition(position) {
            x = position.coords.longitude;
            y = position.coords.latitude;
            latlng = y+","+x;
            $(".AddShop").show();
            $.post("{% url 'reverse_geocoding' %}", {"latlng": latlng, csrfmiddlewaretoken: '{{ csrf_token }}'},
                function (data){
                $("#geo").html('<hr width="80%"><h1 class="text-center">Twój adres:' +
                    '</h1>Miasto:'+data.town+' Adres: '+data.adres);
                });

        }
        function errorCallBack(error) {
            (error.code == error.PERMISSION_DENIED)
            {
                console.log("sanity test");
                $("#geo").html("<h1>Nie jesteśmy w stanie określić twojego położenia</h1>");
            }
        }
        getLocation();
    //handling form submit
    formsubmit('#ShopAddForm',
        function(data){
            if (data.ok){
                $("#user_nav").load("{% url 'user_nav' %}");
                $("#content").load("{% url 'frontpage' %}");
                $(".messages").append(addmessage(data.message));
            }
        },
        function (data) {
            if(data.responseJSON) {
                console.log(data.responseJSON.values);
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
            $("#geo").load("{% url 'location_based' %}");
        });
</script>
{% endblock %}