{% extends base %}
{% block main %}
    <style>
.custom-file-input ~ .custom-file-label::after {
    content: "znajdź plik";
}
    </style>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="text-center" id="LocationAddShop">
        <link href="/static/mapwidgets/css/map_widgets.css" type="text/css" media="all" rel="stylesheet">
        <script type="text/javascript" src="/static/mapwidgets/js/jquery_class.js"></script>
        <script type="text/javascript" src="/static/mapwidgets/js/django_mw_base.js"></script>
        <script type="text/javascript" src="/static/mapwidgets/js/mw_google_point_field.js"></script>
    <h1>Dodaj sklep</h1>
        <hr width="80%">
        <form id="MapAddForm" method="post" action="{% url 'map_based' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_opening_hour">Godzina otwarcia sklepu:</label>
                <input class="form-control" name="opening_hour" required=""
                       id="id_opening_hour" type="text" placeholder="06:00">
            </div>
            <div class="form-group">
                <label for="id_closing_hour">Godzina zamknięcia sklepu:</label>
                <input class="form-control" name="closing_hour" required=""
                       id="id_closing_hour" type="text" placeholder="12:00">
            </div>
            <div class="form-group">
                <label for="id_name">Nazwa sklepu:</label>
                <input class="form-control" name="name" required="" id="id_name" type="text">
            </div>
            <div class="form-group">
                <label>Zdjęcie sklepu(opcjonalne):</label>
                <div class="custom-file" lang="pl">
                    <input type="file" class="custom-file-input" id="id_photo" name="photo">
                    <label class="custom-file-label" for="id_photo">Wybierz zdjęcie</label>
                </div>
            </div>
            <input name="address" id="id_address" type="hidden">
            <div class="mw-wrap text-white" id="geo_point-mw-wrap">
                {% block container %}
                    <div class="mw-header">
                        {% block header %}
                            <div class="mw-coordinates-wrap">
                                <a  class="mw-btn mw-btn-primary mw-btn-coordinates">Koordynaty
                                    <i class="icon-down-dir" ></i></a>
                                <div class="mw-coordinates-overlay hide">
                                    <label for="geo_point-mw-overlay-latitude">
                                        Y
                                        <input type="text" id="geo_point-mw-overlay-latitude"
                                               class="form-control mw-overlay-input mw-overlay-latitude"
                                               placeholder="przykład: 41.015137'"/>
                                    </label>
                                    <label for="geo_point-mw-overlay-longitude">
                                        X
                                        <input type="text" id="geo_point-mw-overlay-longitude"
                                               class="form-control mw-overlay-input mw-overlay-longitude"
                                               placeholder="przykład: 28.979530"/>
                                    </label>
                                    <a class="mw-btn mw-btn-success mw-btn-coordinates-done pull-right">"Done"</a>
                                </div>
                            </div>

                            <a class="mw-btn mw-btn-info mw-btn-my-location" >Znajdź mnie </a>
                            <a class="mw-btn mw-btn-warning mw-btn-add-marker" ><i class="icon-location"></i>
                                Oznacz miejce</a>
                            <div class="mw-adress-input-wrap pull-right">
                                <input type="text" class="form-control pull-right"
                                       id="geo_point-mw-google-address-input"
                                       placeholder="Wpisz i wybierz adres"/>
                            </div>
                        {% endblock header %}
                    </div>

                    <div class="mw-map-wrapper">
                        <div class="mw-loader-overlay hide" >
                            <div class="mw-loader"></div>
                        </div>
                        <div id="geo_point-map-elem" class="mw-map"></div>
                        <div style="display: none" class="hide">
                            <textarea id="id_geo_point" name="geo_point">{{ serialized }}</textarea>
                            {% block extra_input %}
                            {% endblock extra_input %}

                        </div>
                    </div>
                    <div class="animated-loader"></div>
                {% endblock container %}
            </div>
        <div class="form-group">
            {{ form.captcha }}
        </div>
            <input class="btn btn-primary" type="submit" value="Wyślij!">

    </form>
    </div>
    <script type="application/javascript">
        function init(){
            var mapOptions = JSON.parse("{\u0022mapCenterLocationName\u0022: \u0022Polska\u0022, " +
                "\u0022mapCenterLocation\u0022: [40.2044358, \u002D101.9953523], \u0022zoom\u0022: 18, " +
                "\u0022GooglePlaceAutocompleteOptions\u0022: {\u0022componentRestrictions\u0022: " +
                "{\u0022country\u0022: \u0022pl\u0022}}, \u0022markerFitZoom\u0022: 18, \u0022" +
                "language\u0022: \u0022pl\u0022}");
            var field_value = JSON.parse("{}");

            var wrapElemSelector = "#geo_point-mw-wrap";
            var mapElemID = "geo_point-map-elem";
            var googleAutoInputID = "geo_point-mw-google-address-input";
            var locationInputID = "#id_geo_point";

            var mapWidgetOptions = {
                locationInput: $(locationInputID),
                wrapElemSelector: wrapElemSelector,
                locationFieldValue: field_value,
                mapElement: document.getElementById(mapElemID),
                mapCenterLocationName: mapOptions.mapCenterLocationName,
                mapCenterLocation: mapOptions.mapCenterLocation,
                coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
                coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
                coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
                coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
                myLocationBtn: $(".mw-btn-my-location", wrapElemSelector),
                addressAutoCompleteInput: document.getElementById(googleAutoInputID),
                deleteBtn: $(".mw-btn-delete", wrapElemSelector),
                addMarkerBtn: $(".mw-btn-add-marker", wrapElemSelector),
                loaderOverlayElem: $(".mw-loader-overlay", wrapElemSelector),
                zoom: mapOptions.zoom,
                markerFitZoom: mapOptions.markerFitZoom,
                GooglePlaceAutocompleteOptions: mapOptions.GooglePlaceAutocompleteOptions,
                markerCreateTriggerNameSpace: "google_point_map_widget:marker_create",
                markerChangeTriggerNameSpace: "google_point_map_widget:marker_change",
                markerDeleteTriggerNameSpace: "google_point_map_widget:marker_delete",
                placeChangedTriggerNameSpace: "google_point_map_widget:place_changed"
            };
            new DjangoGooglePointFieldWidget(mapWidgetOptions);
        }
        $(document).ready(function () {
           init();
        });
        $('#MapAddForm').submit(function(ev){
            adres = $("#geo_point-mw-google-address-input").val();
            $("#id_address").val(adres);
            var frm = $(this);
            console.log(frm);
            var data = new FormData($(this)[0]);
            ev.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: data,
                enctype: 'multipart/form-data',
                timeout: 600000,
                processData: false,  // Important!
                contentType: false,
                cache: false,
                success: function(data){
                    if (data.ok){
                        $("#content").load("{% url 'my_shops' %}");
                        $(".messages").append(addmessage(data.message));
                    }
                },
                error: function (data) {
                    if(data.responseJSON) {
                        console.log(data.responseJSON.values);
                        for(var i in data.responseJSON)
                        {
                            $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                        }
                    }
                    $("#box").load("{% url 'map_based' %}");
                }
            });
        });
  $('.custom-file-input').on('change',function(){
  var fileName = $(this).val().split("\\").pop();
  $(this).next('.custom-file-label').html(fileName);
});
    </script>
    </form>

{% endblock %}