{% extends base %}
{% block main %}
    <style>
#map-container{
    position: relative;
};
#map{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
    </style>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <h1 class="text-center">Twoje sklepy</h1>
    <hr>
    {% if object_list %}
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center panel-group" id="UserShops">
                    {% for object in object_list %}
                            <div class="card">
                                <form id="EditForm-{{ forloop.counter }}" action="{% url 'shop-detail' object.id %}"
                                method="post">
                                <div class="card-block">Nazwa sklepu:
                                    <input type="text" name="name" value="{{ object.name }}"></div>{% if object.photo %}
                                    <img class="img-responsive img-thumbnail" src="media/{{ object.photo }}"
                                         alt="blad">
                                {% endif %}
                                <div class="card-block">
                                    Godziny otwarcia<br><hr>Od:<input type="text" name="opening_hour" value="{{ object.opening_hour }}"><br>
                                    Do:<input type="text" name="closing_hour" value="{{ object.closing_hour }}">
                                </div>
                                <div class="card-block">
                                    Miasto: <input type="text" name="town" value="{{ object.town }}"><br>
                                    Adres:<input type="text" name="address" value="{{ object.address }}"><br>
                                    <input type="submit" class="btn btn-primary btn-shopedit" value="zapisz zmiany">
                                    <button class="btn btn-danger btn-removeshop">
                                        <input type="hidden" value="{% url 'shop-detail' object.id %}">
                                        usuń sklep
                                    </button>
                                    <div class="clearfix"></div>
                                    <div>
                                        <button id="button-{{ forloop.counter }}" class="bttn btn btn-primary">
                                            pokaż sklep na mapie
                                            <input type="hidden" id="point-{{ forloop.counter }}"
                                                   value="{{ object.geo_point }}">
                                            <input type="hidden" id="name-{{ forloop.counter }}"
                                                   value="{{ object.name }}">
                                            <input type="hidden" id="town-{{ forloop.counter }}"
                                                   value="{{ object.town.town }}">
                                            <input type="hidden" id="address-{{ forloop.counter }}"
                                                   value="{{ object.address }}">
                                            <input type="hidden" id="hours-{{ forloop.counter }}"
                                                   value="{{ object.opening_hour }} - {{ object.closing_hour }}">
                                        </button>
                                    </div>
                                </div>
                        </form></div>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>
            </div>
        <div class="col-sm-8" id="map-container"><div id="map"></div></div>
        </div>
    {% else %}
            <div class="alert text-center">
                <h1>Nie posiadasz żadnych sklepów</h1>
            </div>
                {% endif %}
    </div>
{% endblock %}
{% block js %}
        <script>
      var map;
      var marker;
      function parsePoint(point) {
          point = point + "";
          list = point.split("(");
          if(list.length>1){
          list = list[1].split(" ");
          x = parseFloat(list[0]);
          y = parseFloat(list[1]);
          return [x, y];
          }
          return false;
      }

      function initMap(x, y) {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: y, lng: x},
          zoom: 17
        });
      }

      if($("#button-1").length)
      {
          coordinates=$("#button-1").children().eq(0);
          shop_name = $("#button-1").children().eq(1);
          town=$("#button-1").children().eq(2);
          address=$("#button-1").children().eq(3);
          hours=$("#button-1").children().eq(4);
          list = parsePoint(coordinates.val());
          initMap(list[0], list[1]);
          content = makeString(shop_name, town, address, hours);
          createMarker(list[0], list[1], content);
      };

      $(".bttn").click( function(e){
          e.preventDefault();
          coordinates=$(this).children().eq(0);
          shop_name = $(this).children().eq(1);
          town=$(this).children().eq(2);
          address=$(this).children().eq(3);
          hours=$(this).children().eq(4);
          showOnMap(coordinates, shop_name, town, address, hours);
          $('html, body').animate({
              scrollTop: ($('#map').offset().top)
          },500);      });

      $(".btn-shopedit").click(function (e) {
          e.preventDefault();
          url = $(this).next().children().val();
          form = $(this).parents("form:first");
          $.ajax({
              context:this,
              url:url,
              data:form.serialize(),
              method:"PATCH",
              success:function () {
                  $(".messages").append(addmessage("Zmiany w sklepie <strong>"+form.find("input[name='name']").val()+
                      "</strong> zostały zapisane"));
              },
              error:function () {
                  $(".messages").append(addmessage("Nastąpił błąd. Sprawdź czy nowe dane są prawidłowe.", "danger"));
              }
          });
         $('html, body').animate({
              scrollTop: ($('#edit_shop').offset().top)
          },500);
      });
      $('.btn-removeshop').click(function (e){
          e.preventDefault();
          do_it = confirm("Potwierdź usunięcie sklepu");
          if(do_it) {
              url = $(this).children("input").val();
              $.ajax({
                  url: url,
                  type: 'DELETE',
                  context: this,
                  success: function () {
                      addmessage("Sklep został usunięty.");
                      console.log("sklep usunięty!");
                      $(this).parents(".panel-default").last().remove();
                  },
                  error: function (jqXHR, exception) {
                      console.log("error");
                      var msg = '';
                      if (jqXHR.status === 0) {
                          msg = 'Not connect.\n Verify Network.';
                      } else if (jqXHR.status == 404) {
                          msg = 'Requested page not found. [404]';
                      } else if (jqXHR.status == 500) {
                          msg = 'Internal Server Error [500].';
                      } else if (exception === 'parsererror') {
                          msg = 'Requested JSON parse failed.';
                      } else if (exception === 'timeout') {
                          msg = 'Time out error.';
                      } else if (exception === 'abort') {
                          msg = 'Ajax request aborted.';
                      } else {
                          msg = 'Uncaught Error.\n' + jqXHR.responseText;
                      }
                      $('#post').html(msg);
                      addmessage(msg, 'danger');
                  }
              });
          }
      });
      function createMarker(x, y, content){
          if (typeof marker !== 'undefined') {
              marker.setMap(null);
              delete marker;
          }
          marker = new google.maps.Marker({
              map: map,
              draggable: false,
              animation: google.maps.Animation.DROP,
              position: {lat: y, lng: x}
          });
          infowindow = new google.maps.InfoWindow({
              content: content
          });
          infowindow.open(map, marker);
          marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

      }

      function makeString(name, town, address, hours) {
          content_string = "<div class=\"text-center\"<p>Nazwa sklepu: <strong>"+
              name.val()+"<hr></strong><br>Adres: <strong>"+address.val()+" "+town.val()+
              "</strong><hr><br> godziny otwarcia: <strong>"+hours.val()+"</strong>";
          return content_string;
      }

      function showOnMap(point, name, town, address, hours){
          content_string = makeString(name, town, address, hours);
          list = parsePoint(point.val());
          map.panTo({lat:list[1], lng:list[0]});
          createMarker(list[0], list[1], content_string);
      }
    </script>
{% endblock %}