.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
/*.text-center {*/
    /*text-align: center;*/
/*}*/
.margin {
    margin: 5px;
}
.boxed {
    background-color: rgb(201, 240, 221);
    color: #0C3C26;
    margin-top:5px;
    padding-bottom:5px;
}

body {
    background-color: rgb(201, 240, 221);
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 500px;
    width: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    padding-top: 70px;
}
#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    margin-top: 50px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

.hidden {
    visibility: hidden;
}
.card-block{
    padding:1px;
}
.card{
    margin:3px;
    padding:5px;
}

.alert {
    margin: 0;
    padding:1;
    text-align: left;
    list-style-type: none;
}
#messages {
    margin:0;
    padding: 0;
}