{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sklepy otwarte w niedzielę{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
</head>
<body>
<div id="body">
{% block body %}
    {% block nav %}{% include 'nav.html' %}{% endblock %}

    {% block messages %}
        <div class="text-center">
            <ul class=id="messages">{% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
            {% endif %}</ul>
        </div>
    {% endblock %}

<div class="container-fluid" id="content">
{% block main %}{% endblock %}
</div>
{% block footer %}{% include 'footer.html' %}{% endblock %}
{% endblock %}
</div>

<script>
    //printing messages
function addmessage(message, alert_type='success'){
 var i = '<li class= "alert alert-' + alert_type + '">\n' + message +'</li>';
 return i;
}

    //handling forms
    function formsubmit(form, successfunction = function(){}, errorfunction = function (){}, extrafunction = function(){}){
        $(form).submit(function(ev){
            extrafunction();
            var frm = $(form);
            console.log(frm);
            ev.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "json",
                success: function (data) {
                    successfunction(data)
                },
                error: function (xhr){
                    errorfunction(xhr)
                },
            });
        });
    }


    //ajax for navigation
$("#nearby").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'get_location' %}");
});
$("#register").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'register' %}");
});
$("#login").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'login' %}");
});
$("#password_change").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'password_change' %}");
});
$("#addshop").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'map_based' %}", );
});
$("#brand").click(function(event){
  event.preventDefault();
  $("#content").load("{% url 'frontpage' %}");
});

//csrf token in ajax requests
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

//handling ajax unsafe method rest requests
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

//csrf token for api calls
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

//clear messages
$( document ).ajaxStart(function() {
  $( ".messages" ).html( "" );
});
</script>
        <script
    src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&sensor=false">
    </script>
{% block js %}
{% endblock %}

</body>
</html>