{% extends base %}

{% block main %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
    {% if object_list %}
        <h1 class="text-center">Sklepy otwarte w niedziele:</h1>
    {% for object in object_list %}
        <div class="card text-white bg-{% if object.tradable %}primary{% else %}danger{% endif %} text-center">
        <div class="card-body">
        Dnia {{ object.date }} sklep będzie {% if object.tradable %}otwarty{% else %}zamknięty{% endif %}
        </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
{% block js %}
{% endblock %}