<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">&#x2630;</button>
    <a id="brand" class="navbar-brand" href="{% url "frontpage" %}">Niedzielne sklepy</a>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav mr-auto">
            <li id="nearby" class="nav-item"><a href="{% url "get_location" %}" class="nav-link">Sklepy wokół mnie</a>
            </li>
            <li id="find_shop" class="nav-item"><a href="{% url "get_point" %}" class="nav-link">Znajdź sklep</a>
            </li>
            {% if request.user.is_authenticated %}
            <li id="addshop" class="nav-item"><a href="{% url "map_based" %}" class="nav-link">Dodaj sklep</a>
            </li>
            {% endif %}
        </ul>
        {% block user_nav %}<ul class="nav navbar-nav" id="user_nav">
        {% include 'user_nav.html' %}
    {% endblock %}
    </div>
</nav>