{% if request.user.is_authenticated %}
    <li id="password_change" class="nav-item"><a href="{% url "password_change" %}" class="nav-link">Zmień hasło</a>
    </li>
    <li id="my_shops" class="nav-item"><a href="{% url "my_shops" %}" class="nav-link">Moje sklepy</a>
    </li>
    <li id="logout" class="nav-item"><a href="{% url "logout" %}" class="nav-link">Wyloguj</a> 
    </li>{% else %}
    <li id="register" class="nav-item"><a href="{% url "register" %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Rejestracja</a>
    </li>
    <li id="login" class="nav-item"><a href="{% url "login" %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a>
    </li>{% endif %}</ul>
<script>

       $("#login").click(function(event){
           event.preventDefault();
           $("#content").load("{% url 'login' %}");
       });
       //handling forms
       function formsubmit(form, successfunction = function(){}, errorfunction = function (){}){
           $(form).submit(function(ev){
               var frm = $(form);
               console.log(frm);
               ev.preventDefault();
               $.ajax({
                   type: frm.attr('method'),
                   url: frm.attr('action'),
                   data: frm.serialize(),
                   dataType:'json',
                   success: function (data) {
                       successfunction(data)
                   },
                   error: function (xhr){
                       errorfunction(xhr)
                   },
               });
           });
       }       $("#register").click(function(event){
           event.preventDefault();
           $("#content").load("{% url 'register' %}");
       });
       $("#logout").click(function(event){
           event.preventDefault();
           $("#content").load("{% url 'logout' %}", function( response ){
               if(typeof(response) == "string")
                   response = JSON.parse(response);
               if(response.message)
                   console.log(response.message);
               $("#user_nav").load("{% url 'user_nav' %}");
               $("#content").load("{% url 'frontpage' %}");
               $(".messages").append(addmessage(response.message));
           });
       });
       $("#my_shops").click(function(event){
           event.preventDefault();
           $("#content").load("{% url 'my_shops' %}");
       });
       $("#password_change").click(function(event){
           event.preventDefault();
           $("#content").load("{% url 'password_change' %}");
       });
</script>