{% extends base %}
{% block main %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
<div class="cover">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="login">
      <h2 class="text-center">Zaloguj się</h2>
      <form id="loginForm" method="post" action="{% url 'login' %}" role="form">
        {% csrf_token %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label for="username">Nazwa użytkownika</label>
          <input required type="text" class="form-control" id="username" name="username">
          {% for error in form.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label for="password">Hasło</label>
          <input required type="password" class="form-control" id="password" name="password">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {{ form.captcha }}
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-lg">Zaloguj</button>
          <a id="register_button" href="{% url 'register' %}" class="btn btn-primary btn-lg">Zarejestruj</a>
          <a id="reset_password_button" href="{% url 'password_reset' %}" class="btn btn-primary btn-lg">Zapomniałem Hasła</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script>
        formsubmit('#loginForm',
            function(data){
                if (data.ok){
                    $("#user_nav").load("{% url 'user_nav' %}");
                    $("#content").load("{% url 'frontpage' %}");
                    $(".messages").append(addmessage(data.message));
                    console.log(data.message);
                }
                },
            function (data) {
            if(data.responseJSON) {
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
            });
        $("#register_button").click(function(event){
            event.preventDefault();
            $("#content").load("{% url 'register' %}");
            });
        $("#reset_password_button").click(function(event){
            event.preventDefault();
            $("#content").load("{% url 'password_reset' %}");
            });
    </script>
{% endblock %}