{% extends base %}
{% load i18n static %}
{% block main %}

    <h2 class="text-center">{{ title }}</h2>
{% block content %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form id="passwordResetForm" novalidate action="{% url 'password_reset' %}" method="post" role="form">{% csrf_token %}
    <div class="form-group field-email">
        {{ form.email.errors }}
        <label class="control-label" for="id_email">{% trans 'Email address:' %}</label>
        <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Reset my password' %} </button>
</form>

{% endblock %}
{% endblock %}
{% block js %}
    <script>
        formsubmit('#passwordResetForm',
            function(data){
                if (data.ok){
                    $("#content").load("{% url 'frontpage' %}");
                    $(".messages").append(addmessage(data.message));
                }
                },
            function (data) {
            if(data.responseJSON) {
                console.log(data.responseJSON.values);
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
            });
    </script>
{% endblock %}