{% extends base %}
{% load i18n static %}
{% block main %}
{% block title%}<h2 class="text-center">{{ title }}</h2>{% endblock %}

{% block content %}
<div id="content-main">
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
<form id="passwordChangeForm" novalidate action="{% url 'password_change' %}" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="form-group">
    {{ form.old_password.errors }}
    <label class="control-label" for="id_old_password">Stare hasło</label>
    <input class="form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password">
</div>

<div class="form-group">
    {{ form.new_password1.errors }}
    <label class="control-label" for="id_new_password1">Nowe hasło</label>
    <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1">
    {% if form.new_password1.help_text %}
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-group">
    {{ form.new_password2.errors }}
    <label class="control-label" for="id_new_password2">Powtórz hasło</label>
    <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2">
    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

<div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg" >{% trans 'Change my password' %}</button>
</div>

</div>
</form>
</div>

{% endblock %}
{% endblock %}
{% block js %}
    <script>
        formsubmit('#passwordChangeForm',
            function(data){
                if (data.ok){
                    $("#content").load("{% url 'frontpage' %}");
                    $(".messages").append(addmessage(data.message));
                }
                },
            function (data) {
            if(data.responseJSON) {
                console.log(data.responseJSON.values);
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
            });
    </script>
{% endblock %}