{% extends base %}
{% load i18n static %}

{% block main %}
<h2 class="text-center">{{ title }}</h2>
{% block content %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form id="passwordChangeForm" novalidate role="form" method="post">{% csrf_token %}
    <div class="form-group field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        <input class="form-control" type="password" name="new_password1" required id="id_new_password1">
    </div>
    <div class="form-group field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        <input class="form-control" type="password" name="new_password2" required id="id_new_password2">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Reset my password' %} </button>
    </div>
</form>

{% else %}
<p class="text-center alert alert-danger">Podany link zmiany hasła jest nieprawidłowy.</p><br>
<div class="text-center">
    <a id="reset_password_button" href="{% url 'password_reset' %}" class="btn btn-primary btn-lg">Zapomniałem Hasła</a>
</div>
{% endif %}
{% endblock %}
{% endblock %}
{% block js %}
    <script>
        formsubmit('#passwordChangeForm',
            function(data){
                if (data.ok){
                    $("#content").load("{% url 'frontpage' %}");
                    $(".messages").append(addmessage(data.message));
                }
                },
            function (data) {
            if(data.responseJSON) {
                console.log(data.responseJSON.values);
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
            });
    </script>
{% endblock %}
