{% extends base %}
{% block main %}
  <ul class="messages">
  {% if messages %}
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}{% endif %}
  </ul>
  <div class="signup">
    <h2 class="text-center">Zarejestruj się</h2>
    <form id="registerForm" action="{% url 'register' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
          <div></div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">Utwórz konto</button>
    </form>
  </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script>
function ajax_div(text, type){
    if (type){
        type = "danger";
    }
    else {
        type = "success";
    }
    text = "<h3 class='text-center alert-"+type+"'>"+text+"</h3>";
    return text;
}
    formsubmit('#registerForm',
        function(data){
            if (data.ok){
                $("#content").load("{% url 'frontpage' %}");
                $(".messages").append(addmessage(data.message));
            }
        },
        function (data) {
            if(data.responseJSON) {
                for(var i in data.responseJSON)
                {
                    $(".messages").append(addmessage(data.responseJSON[i], 'danger'));
                }
            }
        });
    $("#id_username").focusout(function(){
        if($(this).val().length>0){
        var url="{% url 'check_username' 'desolance' %}".replace('desolance', $(this).val());
        $.ajax({
            context:this,
            url:url,
            success:function () {
                $(this).parent().next().html(ajax_div("Ta nazwa użytkownika jest już zajęta", true));
            },
            error:function (xhr, ajaxOptions, thrownError)
            {
                $(this).parent().next().html(ajax_div("Ta nazwa uzytkownika jest dostępna", false));
            }
        })
    }});
    $("#id_email").focusout(function(){
        if($(this).val().length>0){
        var url="{% url 'check_mail' 'desolance' %}".replace('desolance', $(this).val());
        $.ajax({
            context:this,
            url:url,
            success:function () {
                $(this).parent().next().html(ajax_div("Ten Email jest już zajęty", true));
            },
            error:function (xhr, ajaxOptions, thrownError)
            {
                $(this).parent().next().html(ajax_div("Ten Email jest dostępny", false));
            }

        })

    }});
</script>
{% endblock %}